.catalog-container{
    margin-top: 26px;
    padding-left: 40px;
    padding-right: 40px;
}

.catalog-title{
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
}

.catalog-products{
    margin-top:  43px;
    // Change the format to distribute contents
    display: grid;
    //The function avoids repeating 250px to every item, and auto-fill distribute itens vertically and dont try to use all the space instead of auto-fit
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: space-between;
    //Top gap and right gap
    grid-gap: 33px 20px;
}